[submodule "themes/twentynineteen-hugo"]
	path = themes/twentynineteen-hugo
	url = https://github.com/jeremybise/twentynineteen-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/atriple/atriple.github.io.git
	branch = master
